apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  # renovate: registryUrl=https://charts.jetstack.io chart=cert-manager
  - https://github.com/jetstack/cert-manager/releases/download/v1.19.3/cert-manager.crds.yaml