apiVersion: apps/v1
kind: Deployment
metadata:
  name: browserless-chrome
  namespace: default
  labels:
    app: browserless-chrome
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: browserless-chrome
  template:
    metadata:
      labels:
        app: browserless-chrome
    spec:
      containers:
        - name: playwright
          image: ghcr.io/browserless/chrome:v2.41.0
          imagePullPolicy: IfNotPresent
          env:
            - name: CONNECTION_TIMEOUT
              value: "120000"
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: 500m
              memory: 500Mi
            limits:
              cpu: 2
              memory: 1Gi
      # Disallow running on arm64
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: NotIn
                    values:
                      - arm64