apiVersion: apps/v1
kind: Deployment
metadata:
  name: mb-scheduler-worker
  namespace: mb-scheduler
  labels:
    app: mb-scheduler-worker
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: mb-scheduler-worker
  template:
    metadata:
      labels:
        app: mb-scheduler-worker
    spec:
      initContainers:
        - name: wait-for-database
          image: ghcr.io/shadyf/mb-backend:v1.1.8
          envFrom:
            - secretRef:
                name: mb-scheduler-backend-secrets
          command: [ 'python', 'manage.py', 'wait_for_database' ]
      containers:
        # By default, this will run 4 workers in the same pod. Use the --concurrency flag to reduce that to 1 and scale
        # using kubernetes
        - name: celery-worker
          image: ghcr.io/shadyf/mb-backend:v1.1.8
          imagePullPolicy: IfNotPresent
          command: [ 'celery',  '-A', 'mb_heba_backend', 'worker' , '--loglevel=INFO' ]
          env:
            - name: DEBUG
              value: "True"
            - name: CELERY_BROKER_URL
              value: redis://mb-scheduler-redis.mb-scheduler.svc.cluster.local:6379
          envFrom:
            - secretRef:
                name: mb-scheduler-backend-secrets
          resources:
            requests:
              cpu: 10m
              memory: 350Mi
            limits:
              memory: 350Mi
        # Consider using redbeat if going to scale workers and want a highly available celery-beat
        - name: celery-beat
          image: ghcr.io/shadyf/mb-backend:v1.1.8
          imagePullPolicy: IfNotPresent
          command: [ 'celery', '-A' ,'mb_heba_backend','beat','-l','INFO', '--scheduler','django_celery_beat.schedulers:DatabaseScheduler' ]
          env:
            - name: DEBUG
              value: "False"
            - name: CELERY_BROKER_URL
              value: redis://mb-scheduler-redis.mb-scheduler.svc.cluster.local:6379
          envFrom:
            - secretRef:
                name: mb-scheduler-backend-secrets
          resources:
            requests:
              cpu: 10m
              memory: 120Mi
            limits:
              memory: 120Mi

      imagePullSecrets:
        - name: ghcr-login-secret


