apiVersion: apps/v1
kind: Deployment
metadata:
  name: chromium
  namespace: default
  labels:
    app: chromium
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: chromium
  template:
    metadata:
      labels:
        app: chromium
    spec:
      containers:
        - name: chromium
          image: zenika/alpine-chrome:124
          command:
            - chromium-browser
          args:
            - --headless
            - --disable-gpu
            - --no-sandbox
            - --disable-dev-shm-usage
            - --remote-debugging-address=0.0.0.0
            - --remote-debugging-port=9222
          env:
            - name: TZ
              value: Africa/Cairo
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          ports:
            - name: debug
              containerPort: 9222
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          readinessProbe:
            tcpSocket:
              port: 9222
            initialDelaySeconds: 5
            periodSeconds: 10
