apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
resources:
  # renovate: registryUrl=https://kubernetes-sigs.github.io/external-dns/ chart=external-dns
  - https://raw.githubusercontent.com/kubernetes-sigs/external-dns/v0.10.2/docs/contributing/crd-source/crd-manifest.yaml