# Adapted from https://squidfunk.github.io/mkdocs-material/publishing-your-site/
name: Deploy MkDocs to Github Pages
on:
  push:
    branches:
      - master
      - main
    # Only run when docs specific files have been changed
    paths:
      - ".github/workflows/mkdocs.yaml"
      - "mkdocs.yml"
      - "docs/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: abatilo/actions-poetry@v3.0.1
        with:
          poetry-version: '1.1.13'
      - run: poetry config virtualenvs.create false && poetry install
      - run: poetry run mkdocs gh-deploy --force